.react-toasts-container {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  max-height: calc(100vh - 10px);
  text-align: right;
}

.react-toasts-container .react-toasts {
  font-family: 'Arial';
  display: inline-block;
  padding: 5px 15px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.react-toasts-container .react-toasts-animation-appear-active {
    animation-name: fadeInDown;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.react-toasts-container .react-toasts.success {
  background-color: rgba(46, 204, 113, 1);
}

.react-toasts-container .react-toasts.info {
  background-color: rgba(236, 240, 241, 1);
}

.react-toasts-container .react-toasts.warning {
  background-color: rgba(241, 196, 15, 1);
}

.react-toasts-container .react-toasts.error {
  background-color: rgba(231, 76, 60, 1);
}
