@import './node_modules/roboto-npm-webfont/style.scss';

* {
  margin: 0;
  padding: 0;
}

#demo .bc {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  text-align: center;
}

#demo .bc .buttons {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 50%;
}

#demo .bc .text {
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  padding-top: 50px;
}

#demo .bc .text h1{
  font-size: 36px;
}

#demo .bc .text span{
  display: inline-block;
  padding: 10px;
  margin-top: 50px;
}

a, a:visited, a:hover, a:active {
  color: white;
}

#demo .bc .buttons .button {
  position: relative;
  z-index: 9;
  box-shadow: 0 0 15px 1px black;
  border-radius: 3px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 15px 30px;
  font-family: 'Arial';
  cursor: pointer;
}

#demo .bc .buttons .buttonSuccess {
  background-color: rgba(46, 204, 113, 1);
}

#demo .bc .buttons .buttonInfo {
  background-color: rgba(236, 240, 241, 1);
}

#demo .bc .buttons .buttonWarning {
  background-color: rgba(241, 196, 15, 1);
}

#demo .bc .buttons .buttonError {
  background-color: rgba(231, 76, 60, 1);
}

@media screen and (max-height: 641px){
  #demo .bc .text h1{
    padding: 0 10px;
    font-size: 32px;
  }

  #demo .bc .text span{
    font-size: 14px;
  }

  #demo .bc .buttons .button {
    margin: 10px 30px;
  }
}


@media screen and (max-height: 560px){
  #demo .bc .buttons {
    top: 40%;
  }

  #demo .bc .text {
    padding-top: 20px;
  }

  #demo .bc .text span{
    margin-top: 20px;
  }
}


@media screen and (max-height: 530px){
  #demo .bc .text span{
    display: none;
  }
}
